@media (min-width: 361px) {
    .lupa{
        width: 15%;
        padding: 1px;
        border: none;
        background-color: white;
        border-radius: 0 5px 5px 0;
        height: 30px;
    }
    .busqueda{
        height: 30px;
        font-size: 15px;
    }
    .fa-search{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* LOGIN */
    .login-conteiner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        max-width: 300px;
        margin: auto;

        
    }
    .form-login{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    .nya{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pass{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputs {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .nombre{
        height: 30px;
        border-radius: 5px;
        font-size: 15px;
        width: 100%;
    }
    .password{
        height: 30px;
        border-radius: 5px;
        font-size: 15px;
        width: 100%;
    }
    .ingresar{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .boton-ingresar{
        width: 100%;
        height: 30px;
        background-color: #0022aa;
        border-radius: 5px;
        border: none;
        transition: all 400ms;
        
    }
    .boton-ingresar a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

}



@media (min-width: 768px) {

    /* TABLET */
    div.articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        ;
    }

    .burguer-conteiner {
        display: none;
    }

    h4 {
        display: block;
    }

    ul {
        display: block;
    }

    i.fa-bars {
        display: none;
    }



    .compracuota {
        max-width: 300px;
        text-align: center;
        font-size: 15px;
        align-items: flex-start;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
        gap: 10px;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .barra-de-busqueda {
        max-height: 50px;
    }
    .logo{
        padding: 40px;
    }

    .ultima-vista,
    .articulo {
        display: flex;

    }

    .articulo {
        flex-direction: column;
        margin: 0 10px;
        max-width: 230px;
    }

    .descripcion {
        font-size: 15px;
        margin: 5px 0;
    }

    .precio {
        font-size: 14px;
    }

    .descuento p {
        font-size: 14px;

    }

    .ultima-vista {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    .ofertas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-busqueda {
        flex-grow: 1;

    }
    .fa-search{
        width: 100%;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* BARRA DE BUSQUEDA */
    .lupa{
        width: 15%;
        height: 50px;
        padding: 1px;
        border: none;
        background-color: white;
        border-radius: 0 5px 5px 0;
    }
    .busqueda{
        height: 50px;
        font-size: 15px;
    }
        /* LOGIN */
    .login-conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .form-login {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .nya {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    .nombre{
        height: 40px;
        width: 400px;
        font-size: 15px;

    }

    .pass {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .password{
        height: 40px;
        width: 400px;
        font-size: 15px;

    }

    .boton-ingresar {
        
        margin-top: 30px;
        width: 400px;
        height: 40px;
        background-color: #0022aa;
        border-radius: 5px;
        border: 0;
        transition: all 400ms;
        
    }
    .boton-ingresar a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .boton-ingresar:hover{
        background-color: #39b54a;

    }
    

}


@media (min-width: 1024px) {
    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .articulo {
        display: flex;
        flex-direction: column;
        margin: 0 5px;
        max-width: 212px;
    }

    .ultima-vista {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    .ofertas {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    .compracuota {

        max-width: 310px;
        text-align: center;
        font-size: 18px;
    }
    .barra-de-busqueda i{
        border: none;
        background-color: white;
        border-radius: 5px 0 0 5px;
    
    }
    .busqueda{
        height: 50px;
    }
    .lupa {
        width: 15%;
        padding: 1px;
        border: none;
        background-color: white;
        border-radius: 0 5px 5px 0;
    }
    .fa-search{
        width: 100%;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
    
    